Drone.API.MarketAnalysis/Xml/SiteBuilderRules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Product">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rules">
								<xs:complexType>
									<xs:sequence>
										<xs:choice minOccurs="0" maxOccurs="unbounded">
											<xs:element name="Or" type="Or" />
											<xs:element name="And" type="And" />
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Or">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Rule" type="Rule" />
				<xs:element name="And" type="And" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="And">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Rule" type="Rule" />
				<xs:element name="Or" type="Or" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="mincount" use="optional" />
	</xs:complexType>
	<xs:complexType name="Rule">
		<xs:attribute name="property" use="required" />
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="atags"/>
					<xs:enumeration value="adminurls"/>
					<xs:enumeration value="cookies"/>
					<xs:enumeration value="generators"/>
					<xs:enumeration value="images"/>
					<xs:enumeration value="links"/>
					<xs:enumeration value="metas"/>
					<xs:enumeration value="stylesheets"/>
					<xs:enumeration value="scripts"/>
					<xs:enumeration value="text"/>
					<xs:enumeration value="urls"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>