Drone.Shared/Service References/LoggingService/BILoggerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BILoggerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://g1twrptweb003/BILoggerService/BILoggerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://g1twrptweb003/BILoggerService/BILoggerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://g1twrptweb003/BILoggerService/BILoggerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BILogger.Entities" />
      <xsd:import schemaLocation="http://g1twrptweb003/BILoggerService/BILoggerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BILogger.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBILoggerService_HandleBIException_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleBIException" />
  </wsdl:message>
  <wsdl:message name="IBILoggerService_HandleBIException_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleBIExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IBILoggerService_HandleException_InputMessage">
    <wsdl:part name="parameters" element="tns:HandleException" />
  </wsdl:message>
  <wsdl:message name="IBILoggerService_HandleException_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandleExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBILoggerService">
    <wsdl:operation name="HandleBIException">
      <wsdl:input wsaw:Action="http://tempuri.org/IBILoggerService/HandleBIException" message="tns:IBILoggerService_HandleBIException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBILoggerService/HandleBIExceptionResponse" message="tns:IBILoggerService_HandleBIException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandleException">
      <wsdl:input wsaw:Action="http://tempuri.org/IBILoggerService/HandleException" message="tns:IBILoggerService_HandleException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBILoggerService/HandleExceptionResponse" message="tns:IBILoggerService_HandleException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBILoggerService" type="tns:IBILoggerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleBIException">
      <soap:operation soapAction="http://tempuri.org/IBILoggerService/HandleBIException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandleException">
      <soap:operation soapAction="http://tempuri.org/IBILoggerService/HandleException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BILoggerService">
    <wsdl:port name="BasicHttpBinding_IBILoggerService" binding="tns:BasicHttpBinding_IBILoggerService">
      <soap:address location="http://g1twrptweb003/BILoggerService/BILoggerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>